.ec-cms-block .a-img {
    border-radius: 0;
}

.ec-cms-block .ec-cms-block-title {
    margin-bottom: 14px;
    color: #efa407;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
}

.ec-cms-block p {
    font-size: 13px;
    color: #777777;
    line-height: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
}

.ec-common-wrapper:nth-child(1) {
    margin-bottom: 35px;
}

.ec-common-wrapper:nth-child(2) {
    background: #e1fff31a;
    padding: 30px 30px 5px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #f3f1f136;
    border-bottom: none;
}

.ec-common-wrapper .row {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.botmline {
    margin-top: 30px;
}

.ec-cms-block p strong {
    color: #045dd0e8;
}

.botmline p span {
    color: indianred;
    font-weight: 600;
}

.aboutuspg {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 0;
}